.section {
  display: flex;
  max-width: 920px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.list-wrapper {
  width: 100%;
  height: 100%;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.explosion-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
