.header {
  display: flex;
  max-width: 952px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid black;
}

.logo {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  text-transform: capitalize;
  margin: 37px 0 8px;
}

.logo a {
  color: #000000;
}

.logo-container p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  max-width: 414px;
}

.navbar {
  margin-top: 53px;
  display: flex;
  flex-direction: row;
}

.navbar li:first-child {
  margin-right: 24px;
}

.nav-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
}

.nav-item-active {
  font-weight: bold;
  text-decoration-line: none;
}

.nav-item:target {
  background-color: aqua;
}

@media (max-width: 580px) {
  .header {
    flex-direction: column;
    padding-bottom: 17px;
  }

  .logo {
    font-size: 24px;
    line-height: 48px;
    margin: 8px 0 8px;
  }

  .navbar {
    margin-top: 19px;
  }
}
