
.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 24px;
  width: 100%;
}


.input-wrapper {
  margin-top: 16px;
}



@media (max-width: 634px) {
  .checkbox-container {
    margin-bottom: 16px;
  }
}
