@font-face {
  font-family: 'Helvetica';
  font-weight: 400;
  src: local('Helvetica-Normal'),
    url(./assets/fonts/Helvetica.ttf) format('truetype');
}

@font-face {
  font-family: 'Helvetica';
  font-weight: 700;
  src: local('Helvetica-Bold'),
    url(./assets/fonts/Helvetica-Bold.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}

a:focus {
  color: #000;
}

a:hover {
  color: #000;
}

a:active {
  color: #000;
}

li {
  list-style: none;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.group {
  display: flex;
  justify-content: space-between;
}
